In [66]:
import pandas as pd
import os

In [109]:
kospi200 = pd.read_csv('../KOSPI200.csv', header=None)

In [110]:
set_names = set(kospi200.iloc[:20, 1])

In [111]:
n = 0
for f in os.listdir('./'):
    if f.split('_')[0] in set_names:
        set_names = set_names-set({f.split('_')[0]})

In [171]:
os.listdir('./')

['.ipynb_checkpoints',
 'Check_Files.ipynb',
 'KB금융_105560_.csv',
 'LG생활건강_051900_.csv',
 'LG화학_051910_.csv',
 'NAVER_035420_.csv',
 'POSCO_005490_.csv',
 'SK_034730_.csv',
 'SK텔레콤_017670_.csv',
 'SK하이닉스_000660_.csv',
 '기아차_000270_.csv',
 '삼성SDI_006400_.csv',
 '삼성물산_028260_.csv',
 '삼성바이오로직스_207940_.csv',
 '삼성에스디에스_018260_.csv',
 '삼성전자_005930_.csv',
 '셀트리온_068270_.csv',
 '신한지주_055550_.csv',
 '엔씨소프트_036570_.csv',
 '카카오_035720_.csv',
 '현대모비스_012330_.csv',
 '현대차_005380_.csv']

In [112]:
set_names

{'삼성에스디에스', '삼성전자'}

In [173]:
fs = os.listdir('./')[2:]
for i in range(20):
    test = pd.read_csv(fs[i], index_col=0)
    print(fs[i])

KB금융_105560_.csv
LG생활건강_051900_.csv
LG화학_051910_.csv
NAVER_035420_.csv
POSCO_005490_.csv
SK_034730_.csv
SK텔레콤_017670_.csv
SK하이닉스_000660_.csv
기아차_000270_.csv
삼성SDI_006400_.csv
삼성물산_028260_.csv
삼성바이오로직스_207940_.csv
삼성에스디에스_018260_.csv
삼성전자_005930_.csv
셀트리온_068270_.csv
신한지주_055550_.csv
엔씨소프트_036570_.csv
카카오_035720_.csv
현대모비스_012330_.csv
현대차_005380_.csv

In [166]:
f_name = os.listdir('./')[]
test = pd.read_csv(f_name, index_col=0)

In [167]:
lens = test.groupby(['체결시간']).agg(len)

In [168]:
lens[lens['현재가']>1]

Empty DataFrame
Columns: [현재가, 시가, 고가, 저가, 거래량]
Index: []

In [169]:
test[test['체결시간'] == 20190603090000]

                 체결시간     현재가      시가      고가      저가    거래량
96966  20190603090000  180036  180991  181469  180036  13643

In [170]:
test[test['체결시간'] == 20190603090000].index[0]

96966

In [160]:
test = test.iloc[:test[test['체결시간'] == 20190603090000].index[0]+1]

In [161]:
test.to_csv(f_name)

# Experiments

In [129]:
test[(test['체결시간'].diff() != -100) & 
     (test['체결시간'].diff() != -4100) & 
     (test['체결시간'].diff() != -500) &
     (test['체결시간'].diff() != -1100) &
     (test['체결시간'].diff() != -936500) &
     (test['체결시간'].diff() != -2936500) &
     (test['체결시간'].diff() != -71936500) &
     (test['체결시간'].diff() != -74936500) 
    ]

                  체결시간     현재가      시가      고가      저가     거래량      delta
0       20200612101000  446000  445500  446000  445500      89        NaN
10385   20200504153500  360000  360000  360000  360000    1200 -1936500.0
14587   20200414153500  326500  326500  326500  326500    1407 -1936500.0
15734   20200409153200  324500  324500  324500  324500  107570     -300.0
15735   20200409151900  320500  320500  320500  320000    1823    -1300.0
...                ...     ...     ...     ...     ...     ...        ...
155084  20190604134500  337500  337500  337500  337000     313  1044500.0
155752  20190604134500  337500  337500  337500  337000     313  1044500.0
156420  20190604134500  337500  337500  337500  337000     313  1044500.0
157088  20190604134500  337500  337500  337500  337000     313  1044500.0
157756  20190604134500  337500  337500  337500  337000     313  1044500.0

[132 rows x 7 columns]

In [119]:
tmp = test['체결시간'].astype(str).map(lambda x: x[:4]+"-"+x[4:6]+"-"+x[6:8]+" "+x[8:10]+":"+x[10:12])

In [120]:
tmp

0         2020-06-12 10:10
1         2020-06-12 10:09
2         2020-06-12 10:08
3         2020-06-12 10:07
4         2020-06-12 10:06
                ...
158419    2019-06-03 09:04
158420    2019-06-03 09:03
158421    2019-06-03 09:02
158422    2019-06-03 09:01
158423    2019-06-03 09:00
Name: 체결시간, Length: 158424, dtype: object

In [124]:
pd.to_datetime(tmp).diff()

0                      NaT
1        -1 days +23:59:00
2        -1 days +23:59:00
3        -1 days +23:59:00
4        -1 days +23:59:00
                ...
158419   -1 days +23:59:00
158420   -1 days +23:59:00
158421   -1 days +23:59:00
158422   -1 days +23:59:00
158423   -1 days +23:59:00
Name: 체결시간, Length: 158424, dtype: timedelta64[ns]